@using MVCDemo.ViewModels;
@model EmployeeListViewModel
@{
    Layout = null;
}
<div>
    <div style="text-align:right">
        Hello, @Model.UserName
        <a href="/Authentication/Logout">Logout</a>
        <hr />
        @{
            Html.RenderAction("GetAddNewLink");
        }
    </div>
        <table>
            <tr>
                <th>Employee Name</th>
                <th>Salary</th>
            </tr>
            @foreach (EmployeeViewModel item in Model.Employees)
            {
                <tr>
                    <td> @item.EmployeeName </td>
                    <td style="background-color:@item.SalaryColor"> @item.Salary </td>
                </tr>
            }

        </table>
    @{
        Html.RenderPartial("Footer",Model.FooterData);
     }
</div>
